* {
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  background: #6f8fdc;
}

/* ⬇️ IMPORTANT CHANGE HERE */
body {
  margin: 0;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #dbbdf0;
}

.app {
  background: white;
  width: 320px;
  padding: 20px;
  border-radius: 18px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.18);
}

h1 {
  text-align: center;
  margin-bottom: 16px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input {
  padding: 12px;
  font-size: 16px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

button {
  padding: 12px;
  font-size: 16px;
  border-radius: 10px;
  border: none;
  background: #cd82e8;
  color: white;
  cursor: pointer;
}

button:active {
  transform: scale(0.97);
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 16px;
}

li {
  background: #eef2ff;
  margin-bottom: 8px;
  padding: 12px;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li span {
  flex: 1;
  cursor: pointer;
}

li span.done {
  text-decoration: line-through;
  opacity: 0.6;
}

.delete-btn {
  background: #cf5151;
  color: white;
  border: none;
  width: 36px;
  height: 36px;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
}

.delete-btn:active {
  transform: scale(0.9);
}








