/* ---------- BASE ---------- */
body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont;
  min-height: 100vh;

  background-image: url("images/day-bg.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  transition: background-image 0.4s ease, color 0.4s ease;
}

/* ---------- DARK MODE ---------- */
body.dark {
  background-image: url("images/bg-dark.jpg");
  color: #f1f1f1;
}

